<footer class="chat__footer">
	<div class="chat__footer-attach">
		<div class="chat__footer-attach__container">
			<ul class="chat__footer-attach__list">
				<li class="chat__footer-attach__list-item">
					<i class="chat__footer-attach__icon _media"></i>
					Фото или Видео
				</li>
				<li class="chat__footer-attach__list-item">
					<i class="chat__footer-attach__icon _file"></i>
					Файл
				</li>
				<li class="chat__footer-attach__list-item">
					<i class="chat__footer-attach__icon _geo"></i>
					Локация
				</li>
			</ul>
		</div>
	</div>
	<div class="chat__footer-message-box">
		<input class="chat__footer-message-input" placeholder="Сообщение" />
	</div>
	<div class="chat__footer-send"></div>
</footer>