<div class="page-login">
	<div class="container">
		<form class="card">
			{{> Input id="login" label="Login" class="mb-10"}}
			{{> Input id="password" label="Password" class="mb-10" type="password"}}
			{{> Button label="Sign in" type="gradient" size="lg" }}
			{{> Button label="Sign up" type="link" }}
		</form>
	</div>
</div>
