<main class="page page-login bg-gradient">
	<div class="container w-100">
		<section class="card">
			<h1 id="login-title" class="card__title text-center">Авторизация</h1>
			<form action="/login" method="POST" aria-labelledby="login-title">
				{{> Input id="login" label="Логин" class="mb-20"}}
				{{> Input id="password" label="Пароль" class="mb-20" type="password"}}
				<div class="actions">
					{{> Button label="Войти" type="primary" size="lg" class="mb-10" }}
					{{> Button label="Зарегистрироваться" type="outline-primary" }}
				</div>
			</form>
		</section>
	</div>
</main>
