<div class="page page-login bg-gradient">
	<div class="container w-100">
		<div class="card">
			<h1 class="card__title text-center">Авторизация</h1>
			<form>
				{{> Input id="login" label="Логин" class="mb-20" error="Неверный логин"}}
				{{> Input id="password" label="Пароль" class="mb-20" type="password"}}
				{{> Button label="Войти" type="primary" size="lg" }}
				{{> Button label="Зарегистрироваться" type="link" }}
			</form>
		</div>
	</div>
</div>
