.float-input {
  position: relative;

  &_readonly {
    &::after {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      background: url("@/assets/icons/pen-new-square.svg");
      background-size: 22px;
      cursor: pointer;
    }
  }

  &__element {
    display: block;
    width: 100%;
    height: calc(3.1rem + 2px);
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    line-height: 1.25;
    padding: 1rem 0.75rem;
    border: 1px solid #d2d6da;
    border-radius: 0.5rem;

    &[readonly] {
      background-color: #f3f3f3;
      cursor: default;
      pointer-events: none;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      opacity: 0.65;
      transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
    }

    &:not(:placeholder-shown),
    &:focus {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
    }
  }

  label {
    color: var(--text-secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition:
      opacity 0.1s ease-in-out,
      transform 0.1s ease-in-out;
  }
}

.input {
  padding: 5px 10px;

  &__container {
    display: flex;
    height: 38px;
    flex-direction: column;
    align-content: flex-end;
  }

  &__label {
    transform: translateY(-21px);
    color: var(--text-secondary-color);
    font-size: 13px;
    font-weight: 500;
    user-select: none;
    transition:
      font-size 0.5s,
      transform 0.5s;
  }

  &__element {
    border: none;
    padding: 0;
    border-bottom: 1px solid var(--main-color);
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 7px;

    &:focus-visible {
      outline: none;
    }

    &:not(:placeholder-shown) + .input__label,
    &:focus + .input__label {
      transform: translateY(-36px);
      font-size: 9px;
    }
  }

  &__text-error {
    transform: translateY(-7px);
    color: var(--error-color);
    font-size: 8px;
    font-weight: 400;
    display: none;
  }

  &__error {
    .input__text-error {
      display: block;
    }

    .input__element {
      color: var(--error-color);
    }
  }
}
