<div class="page-register">
	<div class="container">
		<form class="card">
			{{> Input id="first-name" label="First Name" class="mb-10" name="first_name"}}
			{{> Input id="second-name" label="Second name" class="mb-10" name="second_name"}}
			{{> Input id="login" label="Login" class="mb-10" name="login"}}
			{{> Input id="phone" label="Phone" class="mb-10" name="phone" type="tel"}}
			{{> Input id="email" label="Email" class="mb-10" name="email" type="email"}}
			{{> Input id="password" label="Password" class="mb-10" type="password"}}
			{{> Button label="Sign up" type="primary" size="lg" }}
		</form>
	</div>
</div>
