<div class="register-page container h-100">
    <form class="register-form">
        {{> Input id="register" label="Register" class="mb-10"}}
        {{> Input id="password" label="Password" class="mb-10" type="password"}}
        {{> Button label="Sign in" type="primary" }}
        {{> Button label="Sign up" type="link" }}
    </form>
</div>
