.button {
  background-color: initial;
  border: none;
  font-weight: 500;
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;

  &_lg {
    padding: 16px 0;
    font-size: 16px;
  }

  &__primary {
    background-color: var(--main-color);
    color: #fff;
  }

  &__link {
    color: var(--main-color);
    font-size: 11px;
    text-align: center;
  }

  &__gradient {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    background-size: 200% auto;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, #895cf2 0%, #ee86e2 50%, #895cf2 100%);
    transition: .5s;

    &:hover {
      background-position: right center;
    }
  }
}
