<main class="page-chat">
	<section class="chat">
		<aside class="chat__list">
			{{> ChatSearch }}
			{{> ListContacts contacts=contacts }}
		</aside>
		<section class="chat__content {{#if chatGroups }}chat__content_bg{{/if }}">
			{{#if chatGroups }}
				{{> ChatHeader }}
				<section class="chat__messages">
					<time class="chat__messages-date">
						{{ conversationDate }}
					</time>
					{{> ChatMessages }}
				</section>
				{{> ChatFooter }}
			{{ else }}
				<div class="chat__content-empty">Выберите чат чтобы отправить сообщение</div>
			{{/if}}
		</section>
	</section>
	{{#if (eq showDialog "remove") }}
		{{> DialogRemove userName="Вадим" }}
	{{/if}}
	{{#if (eq showDialog "add") }}
		{{> DialogAdd }}
	{{/if}}
</main>
