.page-chat {
  .chat {
    display: flex;
    height: 100vh;

    &__list {
      width: 20%;
      background: #fff;
      padding: 10px;
      overflow-y: auto;
      min-width: 300px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
      border-right: 1px solid #ddd;
    }

    &__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: 100vh;
      position: relative;
      background: url("@/assets/chat-bg-white.png"), linear-gradient(to right bottom, #d7dcbb, #8eb991, #ced58d) ;
      background-size: 23% auto, 300%;
    }

    &__header {
      background: #fff;
      border-bottom: 1px solid #ddd;
      position: sticky;
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      z-index: 1;
      box-shadow: 4px 1px 5px 1px rgba(0, 0, 0, .2);

      /*
      &::after {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
      }
      */

      &-left-side {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &-right-side {
        display: flex;
        align-items: center;
      }

      &-avatar {
        width: 40px;
        height: 40px;
      }
    }

    &__footer {
      position: sticky;
      bottom: 0;
      background: #fff;
      padding: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
      border-top: 1px solid #ddd;

      &-message-box {
        flex: 1;
      }

      &-message-input {
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #eee;
        padding: 10px;
        width: 100%;
      }

      &-attach {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: url("@/assets/icons/attach2.svg") center no-repeat, #eee;
        background-size: 50%;
        cursor: pointer;
        /** Для всплывахи **/
        position: relative;
        /** #Для всплывахи **/

        // хак без JS
        &:hover:has(.chat__footer-attach__container) {
          .chat__footer-attach__container {
            display: flex;
          }
        }

        .chat__footer-attach__list {
          list-style: none;
          border-radius: 10px;
          background: #fff;
          margin-bottom: 60px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, .14);
          gap: 16px;

          &-item {
            display: flex;
            gap: 15px;
          }
        }

        &__icon {
          display: block;
          width: 22px;
          height: 22px;

          &._media {
            background: url("@/assets/icons/chat-media-icon.svg") center no-repeat;
          }

          &._file {
            background: url("@/assets/icons/chat-file-icon.svg") center no-repeat;
          }

          &._geo {
            background: url("@/assets/icons/chat-geo-icon.svg") center no-repeat;
          }
        }

        &__container {
          position: absolute;
          top: -50px;
          transform: translateY(-50%);
          display: none;

          &:hover {
            display: flex;
          }
        }
      }

      &-send {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: url("@/assets/icons/send.svg") center no-repeat, #eee;
        background-size: 50%;
      }
    }

    &__messages {
      flex-grow: 1;
      overflow-y: auto;
      padding: 10px;
    }

    /** DRAFT **/
    .chat__message-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    .chat__message-group--me {
      align-items: flex-end;
      justify-content: flex-end; /* Свои сообщения справа */
    }

    .chat__message-group--other {
      align-items: flex-start;
      justify-content: flex-start; /* Свои сообщения справа */
    }

    .chat__message {
      max-width: 60%;
      padding: 10px;
      border-radius: 10px;
      word-wrap: break-word;
      position: relative;
      box-shadow: 0 1px 2px var(--color-default-shadow);
      // display: flex;
      // gap: 10px;

      &:not(:last-of-type) {
        margin-bottom: 7px;
      }

      &_img {
        .chat__message-meta {
          // float: none;
          position: absolute;
          background: rgba(0, 0, 0, .1);
          padding: 2px 6px;
          margin: 0;
          border-radius: 9999999px;
          bottom: 10px;
          right: 10px;
        }
      }

      &-content {
        float: left;
      }

      &-meta {
        margin-left: 5px;
        position: relative;
        bottom: -8px;
        right: -4px;
        float: right;
        font-size: 11px;
        align-self: end;
        margin-bottom: 6px;
        margin-right: 6px;
        display: flex;
        // flex-direction: row;
        gap: 5px;
        align-items: center;
        line-height: 1;
        color: #3369F3;
      }
    }

    .double-check {
      background: url("@/assets/icons/double-check.svg") center no-repeat;
      width: 10px;
      height: 5px;
    }

    .chat__message--me {
      background: #EEFFDE; /* Цвет для своих сообщений */
      // text-align: right;

      &:last-of-type {
        border-bottom-right-radius: 0;

        &:after {
          content: "";
          display: flex;
          position: absolute;
          width: 9px;
          height: 20px;
          bottom: -3px;
          right: -9px;
          background: url("@/assets/icons/chat-appendix-r.svg");
        }
      }
    }

    .chat__message--other {
      background: #fff;
      text-align: left;

      &:last-of-type {
        border-bottom-left-radius: 0;

        &:after {
          content: "";
          display: flex;
          position: absolute;
          width: 9px;
          height: 20px;
          bottom: -3px;
          left: -9px;
          background: url("@/assets/icons/chat-appendix-l.svg");
        }
      }
    }
    /** #DRAFT **/

    &__menu {
      width: 3px;
      padding: 10px;
      height: 20px;
      background: url("@/assets/icons/menu-dots.svg") 50% no-repeat;
      background-size: auto;
      cursor: pointer;
    }
  }

  .clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}
