<div class="page-chat">
	<div class="chat">
		<div class="chat__list">
			{{> ChatSearch }}
			{{> ListContacts contacts=contacts }}
		</div>
		<div class="chat__content">
			{{> ChatHeader }}
			<div class="chat__messages">
				<!-- Выберите чат чтобы отправить сообщение -->
				<div class="chat__messages-date">
					{{ conversationDate }}
				</div>
				{{> ChatMessages }}
			</div>
			{{> ChatFooter }}
		</div>
	</div>

    {{#if (eq showDialog "remove")}}
        {{> DialogRemove userName="Вадим" }}
    {{/if}}
	{{#if (eq showDialog "add")}}
		{{> DialogAdd }}
	{{/if}}
</div>
