<div class="page-chat">
	<div class="chat">
		<div class="chat__list">
			{{> Button label="go to home" type="link" }}
			{{> ListCat cats=cats }}
		</div>
		<div class="chat__content">
			<div class="chat__header">
				<div class="chat__header-left-side">
					{{> Avatar class="chat__header-avatar" imgUrl=avatar}}
					<div>Вадим</div>
				</div>
				<div class="chat__header-right-side">
					<div class="chat__menu"></div>
				</div>
			</div>
			<div class="chat__messages">
				<!-- Выберите чат чтобы отправить сообщение -->
				<!--
				<div class="chat__message-group">
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
				</div> -->
				<div class="chat__message-group chat__message-group--other">
					<div class="chat__message chat__message--other">Привет!</div>
					<div class="chat__message chat__message--other">Привет!</div>
				</div>

				<div class="chat__message-group chat__message-group--me">
					<div class="chat__message chat__message--me">Привет! Как дела?</div>
				</div>

				<div class="chat__message-group chat__message-group--other">
					<div class="chat__message chat__message--other">Все хорошо, спасибо!</div>
				</div>

			</div>
			<div class="chat__footer">
				<div class="chat__footer-attach"></div>
				<div class="chat__footer-message-box">
					<input class="chat__footer-message-input" placeholder="Сообщение">
				</div>
				<div class="chat__footer-send"></div>
			</div>
		</div>
	</div>


    {{#if showDialog}}
        {{> RemoveCatDialog }}
    {{/if}}
</div>
