<div class="page-chat">
	<div class="chat">
		<div class="chat__list">
			{{> Button label="go to home" type="link" }}
			{{> ListCat cats=cats }}
		</div>
		<div class="chat__content">
			<div class="chat__header">
				<div class="chat__header-left-side">
					{{> Avatar class="chat__header-avatar" imgUrl=avatar}}
					<div>Вадим</div>
				</div>
				<div class="chat__header-right-side">
					<div class="chat__menu"></div>
				</div>
			</div>
			<div class="chat__messages">
				<!-- Выберите чат чтобы отправить сообщение -->
				<!--
				<div class="chat__message-group">
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
					<div class="chat__message-group-item">Сообщение</div>
				</div> -->
				<div class="chat__message-group chat__message-group--other">
					<div class="chat__message chat__message--other">
						<p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.</p>
						<p>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</p>
					</div>
					<div class="chat__message chat__message--other">
						<img src="/chat-attach.png" width="316" height="211">
					</div>
				</div>

				<div class="chat__message-group chat__message-group--me">
					<div class="chat__message chat__message--me">Салам!</div>
					<div class="chat__message chat__message--me">Круто!</div>
				</div>

				<div class="chat__message-group chat__message-group--other">
					<div class="chat__message chat__message--other">Я знал, что ты оценишь!</div>
				</div>

				<div class="chat__message-group chat__message-group--me">
					<div class="chat__message chat__message--me">Еще время надо добавить</div>
					<div class="chat__message chat__message--me">И дату</div>
				</div>

				<div class="chat__message-group chat__message-group--other">
					<div class="chat__message chat__message--other">И всплывахи</div>
				</div>

				<div class="chat__message-group chat__message-group--me">
					<div class="chat__message chat__message--me">Поездато!</div>
				</div>

			</div>
			<div class="chat__footer">
				<div class="chat__footer-attach"></div>
				<div class="chat__footer-message-box">
					<input class="chat__footer-message-input" placeholder="Сообщение">
				</div>
				<div class="chat__footer-send"></div>
			</div>
		</div>
	</div>


    {{#if showDialog}}
        {{> RemoveCatDialog }}
    {{/if}}
</div>
