<main class="page-chat">
	<section class="chat">
		<aside class="chat__list">
			{{> ChatSearch }}
			{{> ListContacts contacts=contacts }}
		</aside>
		<section class="chat__content">
			{{> ChatHeader }}
			<section class="chat__messages">
				<!-- Выберите чат чтобы отправить сообщение -->
				<time class="chat__messages-date">
					{{ conversationDate }}
				</time>
				{{> ChatMessages }}
			</section>
			{{> ChatFooter }}
		</section>
	</section>

    {{#if (eq showDialog "remove")}}
        {{> DialogRemove userName="Вадим" }}
    {{/if}}
	{{#if (eq showDialog "add")}}
		{{> DialogAdd }}
	{{/if}}
</main>
