.page-profile {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #F6F9FB;
    display: flex;
    align-items: center;

    .profile {
        &__avatar {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
    }

    .user-name {
        text-align: center;
    }
}

