<div class="page page-error bg-gradient">
	<div class="container">
		<div class="error">
			<img class="error__image" src="{{ img500 }}" width="1920" height="1920" alt="">
			<h1 class="error__title">500</h1>
			<h2 class="error__description mb-20">
				Мы уже фиксим
			</h2>
			{{> Button  label="Назад к чатам" type="primary" size="lg" }}
		</div>
	</div>
</div>
