.file-upload {
  border: 1px dashed var(--color-black);
  background: var(--color-light-gray);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  &__icon {
    background: url("@/assets/icons/file-upload.svg") center no-repeat;
    width: 50px;
    height: 50px;
  }

  &__input {
    display: none;
  }
}
