<div class="chat__header">
	<div class="chat__header-left-side">
		{{> Avatar class="chat__header-avatar" imgUrl=avatar}}
		<div>Вадим</div>
	</div>
	<div class="chat__header-right-side">
		<div class="chat__menu">
			<div class="chat__menu__container">
				<ul class="chat__menu__list">
					<li class="chat__menu__list-item">
						<i class="chat__menu__icon _add"></i>
						Добавить пользователя
					</li>
					<li class="chat__menu__list-item">
						<i class="chat__menu__icon _delete"></i>
						Удалить пользователя
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
