.chat {
  &__header {
    background: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    box-shadow: 4px 1px 5px 1px rgba(0, 0, 0, .2);

    &-left-side {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-right-side {
      display: flex;
      align-items: center;
    }

    &-avatar {
      width: 40px;
      height: 40px;
    }
  }

  &__menu {
    width: 24px;
    padding: 10px;
    height: 24px;
    background: url("@/assets/icons/menu-dots.svg") 50% no-repeat;
    background-size: auto 16px;
    cursor: pointer;
    position: relative;

    &:hover {
      border-radius: 50%;
      background:
        url("@/assets/icons/menu-dots.svg") 50% no-repeat,
        var(--color-gray);
      background-size: auto 16px;
    }

    // хак без JS
    &:hover:has(.chat__menu__container) {
      .chat__menu__container {
        display: flex;
      }
    }

    &__list {
      transform: translateX(-100%);
      position: relative;
      left: 100%;
      list-style: none;
      border-radius: 10px;
      background: var(--color-white);
      margin-top: 40px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .14);

      &-item {
        display: flex;
        align-items: center;
        gap: 15px;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 10px;

        &:hover {
          border: 1px solid var(--color-gray);
        }
      }
    }

    &__icon {
      display: block;
      width: 22px;
      height: 22px;

      &._add {
        background: url("@/assets/icons/chat-add-user.svg") center no-repeat;
      }

      &._delete {
        background: url("@/assets/icons/chat-delete-user.svg") center no-repeat;
      }
    }

    &__container {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      z-index: 1;

      &:hover {
        display: flex;
        z-index: 1;
        position: absolute;
      }
    }
  }
}
