.page-not-found {
    height: auto;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(139,84,193,1) 0%, rgba(252,70,107,1) 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;

    .title {
        font-size: 100px;
    }

    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }
}
