.page-not-found {
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px #4FB5B5;

    .button {
        // background: #344767;
        box-shadow: 3px 3px 3px #4FB5B5;
    }

    .not-found {
        &__image {
            max-width: 300px;
            height: auto;
            filter: drop-shadow( 5px 5px 5px #4FB5B5);
        }

        &__title {
            font-size: 100px;
            text-shadow: 5px 5px 5px #4FB5B5;
        }
    }
}
