:root {
  --main-color: #2787f5;
  --main-color-darken: #3369f3;
  --chat-default-shadow: rgb(114,114,114,.251);
  --secondary-text-shadow: 3px 3px 3px #4fb5b5;
  --secondary-image-shadow: 5px 5px 5px #4fb5b5;

  --second-color: #e4edfd;
  --error-color: #ff2f2f;
  --text-color: #1e1e1e;
  --text-secondary-color: #999;

}
